debug: false  # Debug log disabled by default

management:
  endpoints:
    web:
      exposure:
        include: "*"  # Expose all actuator endpoints

logging:
  level:
    com.example: DEBUG  # Output only debug level logs from a specific path
    org.springframework.web.servlet: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # Trace level log that allows you to check binding parameters shown as '?' in JPA's query debug log.

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/board
    username: sol
    password: thisisTESTpq!@#
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: true  # Allows you to create data in a database for testing (use 'data.sql' query file in resources)
    hibernate:
      ddl-auto: create
    open-in-view: false  # OSIV-related options. Whether the EntityManager remains open throughout processing the entire request. If you set this to 'false', the persistence context is maintained only up to the service layer where there is a transaction, and if you set it to 'true', the persistence context is maintained until the request ends even in the controller layer where there is no transaction. Lazy 로딩을 많이 활용하고자 할 때 유용하다.
    show-sql: true
    properties:
      hibernate:
        format_sql: true  # Format SQL query log
        default_batch_fetch_size: 100  # Set the default batch size for batch loading
  sql:
    init:
      mode: always  # Always execute the query in 'data.sql' when the application starts. If you select the embedded option, run 'data.sql' only in the test environment.
  data:
    rest:
      base-path: /api
      detection-strategy: annotated  # 'spring data rest' setting. If you set it to 'annotated', you can use the @RepositoryRestResource annotation to expose the repository as a REST resource.
  thymeleaf3:
    decoupled-logic: true  # Using directly declared Properties
